- name: Copy nginx configuration
  copy:
    src: ../../nginx.conf
    dest: /home/debian/nginx.conf
    mode: '0644'

- name: Start nginx reverse proxy
  command: docker-compose -f /home/debian/docker-compose.yaml up -d nginx

